<div class="ui container positive floating message"  data-controller="removals" data-action=" animationend->removals#remove ">
  <p><%= t :records_added_to_collection %></p>
</div>

<%#
<div class="ui positive message", data-controller="removals" data-action=" animationend->removals#remove " >
  <div>
    
  </div>
</div> %>
