<p style="color: green"><%= notice %></p>

<h1>Vacations</h1>

<%= link_to "New vacation", new_vacation_path, class: "ui green button segment"%>

<div id="vacations">
  <% @vacations.each do |vacation| %>
    <%= render vacation %>
    <p>
      <%= link_to "Show this vacation", vacation %>
    </p>
  <% end %>
</div>

