<h1>Editing phisycal status</h1>

<%= render "form", phisycal_status: @phisycal_status %>

<br>

<div>
  <%= link_to "Show this phisycal status", @phisycal_status %> |
  <%= link_to "Back to phisycal statuses", phisycal_statuses_path %>
</div>
