<h1>New record attachment</h1>
= record_navigation
<%= render "record_metadatum_short", locals{metadatum: @record_attachment.record_metadatum} %>
<%= render "form", record_attachment: @record_attachment %>

<br>

<div>
  <%= link_to "Back to record attachments", record_attachments_path %>
</div>
