<p style="color: green"><%= notice %></p>

<h1>Special number names</h1>

<div id="special_number_names">
  <% @special_number_names.each do |special_number_name| %>
    <%= render special_number_name %>
    <p>
      <%= link_to "Show this special number name", special_number_name %>
    </p>
  <% end %>
</div>

<%= link_to "New special number name", new_special_number_name_path %>
