<h1>New special number name</h1>

<%= render "form", special_number_name: @special_number_name %>

<br>

<div>
  <%= link_to "Back to special number names", special_number_names_path %>
</div>
