<h1>Editing toponym</h1>
<%= link_to sanitize("&larr; Back to toponym"), toponym_path(@toponym) %>
<%= turbo_frame_tag  @toponym do %>
  <%= render "form", toponym: @toponym %>
<% end %>
<br>


