<h4 class="ui horizontal divider header">
  <i class="pdf file icon"></i>
    
  </h4>
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="pdf file outline icon"></i>
    <%= t(:no_documents) %>
  </div>
</div>