<div class="wrapper-div">
  <div class="ui stackable">
    
    <div class="ui right labeled input">
      <%= form.text_field :value %>
      <%= form.collection_select :number_type_id, NumberType.all, :id, :to_s, {prompt: true},  {data: {controller: "dropdown"}, class: "ui search selection dropdown label",  size: 10}%>  
      <%= link_to_remove_nested(form, fields_wrapper_selector: '.wrapper-div', link_text: "Remove", link_classes: 'ui button red') %>         
    </div>
     
  </div> 
   
</div>

