<h1><%=t('editing_record_metadatum')%></h1>

<%= render "form", record_metadatum: @record_metadatum %>

<br>

<div>
  <%= link_to "Show this record metadatum", @record_metadatum %> |
  <%= link_to "Back to record metadata", record_metadata_path %>
</div>
