<p style="color: green"><%= notice %></p>

<h1>Documents <a href="#" ><i class="large plus icon"></i>
</a></h1>

<div id="documents">
  <table class="ui celled padded table">
    <thead>
      <tr><th class="single line">Id</th>
      <th>Organization Code</th>
      <th>Box</th>
      <th>Folder</th>
      <th>Order</th>
      <th>Summary</th>
      <th>Action</th>
    </tr></thead>
    <tbody>
      <% @documents.each do |document| %>
        <%= render partial: "documentAsTableRow", locals: {document: document} %>
        
      <% end %>
    </tbody>
    <tfoot>
      <tr><th colspan="5">
        <div class="ui right floated pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </th>
    </tr></tfoot>
  </table>
</div>

<%= link_to "New document", new_document_path %>
