<div id="<%= dom_id special_number %>">
  <p>
    <strong>Number:</strong>
    <%= special_number.number %>
  </p>

  <p>
    <strong>Special number name:</strong>
    <%= special_number.special_number_name %>
  </p>

</div>
