<h1>Editing special number</h1>

<%= render "form", special_number: @special_number %>

<br>

<div>
  <%= link_to "Show this special number", @special_number %> |
  <%= link_to "Back to special numbers", special_numbers_path %>
</div>
