<div id="<%= dom_id collection %>">
  <p>
    <strong>ID:</strong>
    <%= collection.id %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= collection.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= collection.user_id %>
  </p>

</div>
