<h1>Editing collection</h1>

<%= render "form", admin_collection: @admin_collection %>

<br>

<div>
  <%= link_to "Show this collection", @admin_collection %> |
  <%= link_to "Back to collections", admin_collections_path %>
</div>
