<div id="<%= dom_id role %>">
  <p>
    <strong>name:</strong>
    <%= role.name %>
  </p>
  <p>
    <strong>resource_id:</strong>
    <%= role.resource_id %>
  </p>
  <p>
    <strong>resource_type:</strong>
    <%= role.resource_type %>
  </p>
</div>