<div id="<%= dom_id fond %>">
  <p>
    <strong>Name:</strong>
    <%= fond.name %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= fond.parent.to_s %>
  </p>
  <p>
    <strong>Children:</strong>
    <%= fond.children_to_s %>
  </p>

</div>

