<h1><%= t :editing_organization %></h1>

<%= render "form", organization: @organization %>

<br>

<div>
  <%= link_to "Show this organization", @organization %> |
  <%= link_to t("back_to_organizations"), organizations_path %>
</div>
