<p style="color: green"><%#= notice %></p>

<h1>Organizations</h1>

<%= link_to "New organization", new_organization_path, class: "ui button green segment" %>

<div id="organizations">
  <table class="ui celled padded table">  
   <thead>
    <tr><th class="single line">Id</th>
    <th>Name</th>    
    <th>Created At</th>
    <th>Updated At</th>
    
    <th>Action</th>
   </tr></thead>
  <tbody>  
    <%= render "organization_table" %>
  </tbody>
    <tfoot>
      <tr><th colspan="8">
        <div class="ui right floated pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </th>
    </tr></tfoot>
  </table>
    
    <p>
      <%#= link_to "Show this organization", organization %>
    </p>
 
</div>


