<h1><%= t('new_organization') %></h1>
<%= turbo_frame_tag "new_organization" do %>
  <%= render "form", organization: @organization %>
  <br/>
<% end %>
<div>
  <%= link_to t("back_to_organizations"), organizations_path %>
</div>
