<p style="color: green"><%#= notice %></p>

<%= render @organization %>

<div>
  <%= link_to t("edit_this_organization"), edit_organization_path(@organization) %> |
  <%= link_to t("back_to_organizations"), organizations_path %>

  <%= button_to t("destroy"), @organization, method: :delete %>
</div>
