<h1>Editing number type</h1>

<%= render "form", number_type: @number_type %>

<br>

<div>
  <%= link_to "Show this number type", @number_type %> |
  <%= link_to "Back to number types", number_types_path %>
</div>
