<p style="color: green"><%= notice %></p>

<h1>Number types</h1>

<div id="number_types">
  <% @number_types.each do |number_type| %>
    <%= render number_type %>
    <p>
      <%= link_to "Show this number type", number_type %>
    </p>
  <% end %>
</div>

<%= link_to "New number type", new_number_type_path %>
